body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #252839;
}

a:hover {
  color: #353849;
}

.capitalize {
  text-transform:capitalize;
}


ul,li, .navbar-inverse, .dropdown-menu, .navbar-collapse{
  background: #252839;
}


.dropdown-menu:hover{
  /*color: #353849;*/
  background: #353849;
}

ul:hover{
  /*color: #353849;*/
  background: #353849;
} 

li:hover{
  /*color: #353849;*/
  background: #353849;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.parameter-cell {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}